<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Nick Santoso's personal website showcasing experience and projects.">
    <meta name="author" content="Nick Santoso">
    <link rel="stylesheet" href="/assets/css/style.css">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="/">Nick Santoso</a></h1>

        <img src="/assets/img/Nick Santoso (1).jpg" alt="Logo" style="width: 210px; height: auto;">

        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>

        <p class="view">
          <span>
            <a href="https://www.linkedin.com/in/nicholas-c-santoso" target="_blank">
            <img src="{{ '/assets/img/LinkedIn_logo_initials.png' | relative_url }}" alt="LinkedIn" style="width: 30px; height: 30px; margin-right: 15px;">
          </a>
          </span>
          <span>
            <a href="https://github.com/Fettuccinifelix" target="_blank">
              <img src="{{ '/assets/img/github-color-svgrepo-com.svg' | relative_url }}" alt="GitHub" style="width: 30px; height: 30px; margin-right: 15px;">
            </a>
          </span>
          <span>
            <a href="mailto:santoso6@student.ubc.ca">
              <img src="{{ '/assets/img/gmail-envelope-svgrepo-com.svg' | relative_url }}" alt="Email" style="width: 30px; height: 30px; margin-right: 15px;">
            </a>
          </span>
        </p>


        <ul>
          <li><a href="/projects/BMS.html">Battery Management System</a></li>
          <li><a href="/projects/TrainingDevice.html">Biomedical Training Device</a></li>
          <!-- Repeat for other projects -->
        </ul>

      </header>
      <section>
        <iframe src="/projects/BMS.html" width="100%" height="auto" frameborder="0"></iframe>
      </section>
      <footer>
        <p>This project is maintained by Nick Santoso</p>
       
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="/assets/js/scale.fix.js"></script>
    
  </body>
</html>
